@import 'tailwindcss';

@font-face {
  font-family: 'Instrument Sans:Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.figma.com/font/InstrumentSans_wdth_wght__1') format('woff2');
}

@font-face {
  font-family: 'Inter:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Inter:Semi Bold';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Inter:Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Inter:Extra Bold';
  font-style: normal;
  font-weight: 800;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Instrument Sans:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/InstrumentSans_wdth_wght__1') format('woff2');
}

@font-face {
  font-family: 'Instrument Sans:SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.figma.com/font/InstrumentSans_wdth_wght__1') format('woff2');
}

@font-face {
  font-family: 'Inter:Light';
  font-style: normal;
  font-weight: 300;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Instrument Serif:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/InstrumentSerif-Regular_1') format('woff2');
}

@font-face {
  font-family: 'Inter:Semi_Bold';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Instrument_Sans:Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.figma.com/font/InstrumentSans_wdth_wght__1') format('woff2');
}

@font-face {
  font-family: 'Instrument_Sans:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/InstrumentSans_wdth_wght__1') format('woff2');
}

@font-face {
  font-family: 'Instrument_Sans:SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.figma.com/font/InstrumentSans_wdth_wght__1') format('woff2');
}

@font-face {
  font-family: 'Instrument_Serif:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/InstrumentSerif-Regular_1') format('woff2');
}

@font-face {
  font-family: 'Inter_1';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

